@media only screen and (max-width: 1000px) {
  .formPosition {
    margin-right: 75px;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1001px) {
  .formPosition {
    margin-right: 75px;
    margin-top: -100px;
  }

  .navbar-default {
  }
}

@media only screen and (min-width: 1450px) {
  .formPosition {
    margin-right: 190px;
    margin-top: -100px;
  }

  /* .navbar-right {
    margin-right: 125px;
  } */
}

.input-group {
  height: 60px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 320px;
  font-size: 20px;
}

.input-group-addon {
  background-color: #3d54be;
  color: #ffffff;
  width: 75px;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.btn-promo {
  background-color: #ffbc49;
  border-color: transparent;
  height: 45px;
  width: 115px;
  font-size: 16px;
}

.btn-promo:hover {
  background-color: #ffa91f;
  color: #ffffff;
  text-decoration: none;
}

#imgSmall {
  height: 90px;
  margin-top: 50px;
  margin-left: 100px;
}

#textSmall {
  margin-left: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.btn-prime {
  background-color: #2db0fe;
  border-color: transparent;
  height: 45px;
  width: 115px;
  font-size: 16px;
  /*margin-right: 25px;*/
  /*margin-left: 85px;*/
}

.btn-prime:hover {
  background-color: #0184d3;
}

.btn {
  margin: 0 1em;
}

#featuresPosition {
  margin-top: 22%;
  margin-left: 4%;
  color: #ffffff;
  font-family: "Roboto", serif;
}

@media only screen and (min-width: 1650px) {
  #featuresPosition {
    margin-top: -60px;
  }
}
.form-control .input-currency {
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.group-send {
  margin: 20px;
  font-size: 20px;
  width: 30em;
  height: unset;
}

.group-send-addon {
  background-color: #3d54be;
  color: #ffffff;
  width: 75px;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.input-group-btn {
  background-color: #3d54be;
  color: #ffffff;
  width: 75px;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
